<h1>All reservations</h1>


<ul>
  <% @user_reservation.each do |reservation| %>
    <li>User: <%= reservation.user.name %></li>
    <li>Bike: <%= reservation.bike.category %></li>
    <li>Start date: <%= reservation.start_date%></li>
    <li>End date: <%= reservation.end_date %></li>
  <%end%>
</ul>

<%= link_to "Home", root_path %>
