<h1>New reservation</h1>

<%=simple_form_for [@bike, @reservation] do |f|%>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.input :price %>
<%= f.submit "Submit review", class: "btn btn-primary"%>
<%end%>
