
<div class="container">

  <h1> Your reservation </h1>
  <div class="row">


  <div class="col-sm-4">
    <div class="card rounded-4 shadow mb-4 ml-2 p-3" >
      <% if @reservation.bike.photo.attached? %>
        <%= cl_image_tag @reservation.bike.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
      <% end %>
      <h3 style= "text-align: right"><b>Total price: <%= @reservation.price %> €</b></h3>
      <h5 style = "font-weight: bold">From: <%= @reservation.start_date%> to <%= @reservation.end_date %></h5>
      <h3>Your bike: <%= @reservation.bike.category %></h3>
      <p><%= @reservation.bike.description %></p>

    </div>
  </div>
</div>
   <%= link_to "List of bikes",  bikes_path, class:"btn btn-flat" %>

    <% if policy(@reservation).destroy? %>
      <div>
        <%= link_to "Delete", reservation_path(@reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
  <% end %>
  </div>



</div>
