
<h1> Your reservation </h1>

<ul>
  <h5> From <%= @reservation.start_date%> to <%= @reservation.end_date%> </h5>
  <p> Your bike: <%= @reservation.bike.description %></p>
  <p> Total price: <%= @reservation.price = ((@reservation.end_date - @reservation.start_date) * @reservation.bike.daily_price).to_i %> € </p>
</ul>

<%= link_to "List of bikes",  bikes_path, class:"dropdown-item" %>

<% if policy(@reservation).destroy? %>
  <div>
    <%= link_to "Delete", reservation_path(@reservation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
