
<h1>Our bikes</h1>


<ul>
  <% @bikes.each do |bike| %>
    <li><%= bike.description %></li>
    <li><%= bike.localisation %></li>
    <li><%= bike.category%></li>
    <li><%= bike.daily_price %></li>
  <%end%>
</ul>


<%= link_to "New Bike", new_bike_path if policy(Bike).new? %>
