<h1>New bike</h1>

<%= simple_form_for(@bike) do |f| %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :localisation %>
  <%= f.input :daily_price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
