<div class="container">
  <h1>Add your bike to rent</h1>
  <%= simple_form_for(@bike) do |f| %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :daily_price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
