
<h1><%= @bike.category %></h1>


<div class="container">
  <div class="details m-3">
    <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
    <ul>
    <li><p>Description: <%= @bike.description %></p></li>
    <li><p>Daily price: <%= @bike.daily_price %> € </p></li>
    </ul>
  </div>
</div>

<%= link_to "Book this bike", new_bike_reservation_path(@bike), style:"text-decoration:none" %>

<% if policy(@bike).destroy? %>
  <div>
    <%= link_to "Delete", bike_path(@bike),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"text-decoration:none"%>
  </div>
<% end %>
