



<div class="container ">

<h1><%= @bike.category %></h1>

  <div class="row">
    <div class="col">
      <div class="card rounded shadow mb-4 ml-4" style="width: 36rem;">
        <div class="details m-3">
          <% if @bike.photo.attached? %>
            <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
          <% end %>
          <h5 class="card-title"><%= @bike.category%></h5>
          <h6><%= @bike.address %></h6>
          <h6 class="card-text" ><small><%= @bike.description %></small></h6>
          <h5 class="card-trip-pricing"><%= @bike.daily_price %> €</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <h2>Offre Back2bike</h2>
      <h5><%= @bike.daily_price %> €/ day only !</h5>
      <%= link_to "Book this bike", new_bike_reservation_path(@bike), class:"btn btn-flat", style:"text-decoration:none" %>
    </div>
  </div>





<% if policy(@bike).destroy? %>
  <div>
    <%= link_to "Delete this bike", bike_path(@bike),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style:"text-decoration:none"%>
  </div>
<% end %>

</div>
