<div class="background">
  <div class="container text-center">

    <div class="flex-container-card">
      <div class="flex-item-card">
        <div class="pic">
          <% if @bike.photo.attached? %>
            <%= cl_image_tag @bike.photo.key, crop: :fill, class:"card-img-top" %>
          <% end %>
        </div>
      </div>
      <div class="flex-item-c">
        <h4><%= @bike.name%></h4>
        <h5><%= @bike.category%></h5>
        <h6><%= @bike.address %></h6>
        <p><small><%= @bike.description %></small></p>
        <h5><%= @bike.daily_price %> € / day</h5>
      </div>
    </div>
    <div class="flex-container">
    <% if true %>
      <div class="flex-item">
        <div class="form" data-controller="controller">
          <h5>Special offer Back2bike</h5>
          <h6><%= @bike.daily_price %> €/ day only !</h6>
          <h5>Book this bike</h5>
          <%=simple_form_for [@bike, @reservation],
            html: {
              data: {
                controller: 'flatpickr'
              }
            } do |f| %>
              <%= f.input :start_date, as: :string, input_html: {
                data: {
                  flatpickr_target: 'startDateInput',
                }
              } %>
              <%= f.input :end_date, as: :string, input_html: {
                data: {
                  flatpickr_target: 'endDateInput'
                }
              } %>
                <h6><span id="bike-price-per-day"><%= @bike.daily_price %></span> € / day </h6>
                <h6> Reservation for <span id="total-days">0</span> days </h6>
                <h6>Total price : <span id="total-price">0</span> € </h6>
                <%= f.submit "Book", class: "btn btn-flat" %>
                <%end%>
        </div>
      </div>
    <% end %>
      <div style="flex: auto;">
        <div class="map">
          <div style="width: 100%; height: 200%"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
